doctype html
html(lang='en')
	head
		title Titre
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
		link(rel="stylesheet", href="assets/styles/main.css")
		script(async, src="assets/scripts/app.js")
	body
		section.hero
			.container
				.hero-body
					.container
						h1.title
							| Simple Carousel
		
		section.section
			.container
				#slider
					.carousel__item.column.is-one-third
						.card
							.card-image
								figure.image.is-4by3
									img(src='http://lorempicsum.com/nemo/627/300/4', alt='Placeholder image', height="400")
							.card-content
								.media
									.media-content
										p.title.is-4 John Smith
								.content
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					.carousel__item.column.is-one-third
						.card
							.card-image
								figure.image.is-4by3
									img(src='http://lorempicsum.com/nemo/627/300/4', alt='Placeholder image', height="400")
							.card-content
								.media
									.media-content
										p.title.is-4 John Smith
								.content
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

					.carousel__item.column.is-one-third
						.card
							.card-image
								figure.image.is-4by3
									img(src='http://lorempicsum.com/nemo/627/300/4', alt='Placeholder image', height="400")
							.card-content
								.media
									.media-content
										p.title.is-4 John Smith
								.content
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					.carousel__item.column.is-one-third
						.card
							.card-image
								figure.image.is-4by3
									img(src='http://lorempicsum.com/nemo/627/300/4', alt='Placeholder image', height="400")
							.card-content
								.media
									.media-content
										p.title.is-4 John Smith
								.content
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					.carousel__item.column.is-one-third
						.card
							.card-image
								figure.image.is-4by3
									img(src='http://lorempicsum.com/nemo/627/300/4', alt='Placeholder image', height="400")
							.card-content
								.media
									.media-content
										p.title.is-4 John Smith
								.content
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					.carousel__item.column.is-one-third
						.card
							.card-image
								figure.image.is-4by3
									img(src='http://lorempicsum.com/nemo/627/300/4', alt='Placeholder image', height="400")
							.card-content
								.media
									.media-content
										p.title.is-4 John Smith
								.content
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	

